.el-w-scroll::-webkit-scrollbar {
    width: 0.25rem; /* ширина scrollbar */
}

.el-w-scroll::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
}

.el-w-scroll::-webkit-scrollbar-thumb {
    background-color: blue; /* цвет плашки */
    border-radius:  15px; /* закругления плашки */
    border: 3px solid transparent; /* padding вокруг плашки */
}